<div>
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile name = "halfscreen" class = "halfscreen">
      <ol>
        <li>
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="What's your name?">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button (click)="openDialog()">Pick one</button>
        </li>
        <li *ngIf="animal">
          You chose: <i>{{animal}}</i>
        </li>
      </ol>
    </mat-grid-tile>

    <mat-grid-tile>2</mat-grid-tile>
  </mat-grid-list>
</div>